<!DOCTYPE html>
<html lang="en-US">
<link rel="stylesheet" type="text/css" href="assets/css/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<body>

    <body ng-app="myapp" ng-controller="ListController">
        <div class="container">
            <h2>table</h2>
            <!-- <div class="row">
                <div class="col-sm-6 col-offset-3">
                  <form ng-submit="add(users)" novalidate>
                  	<div class="form-group">
                  		<input type="text" ng-model="users.firstname">
                  	</div>
                  	<div class="form-group">
                  		<input type="text" ng-model="users.lastname">
                  	</div>
                  	<input type="submit" name="" value="add"/>
                  </form>
                </div>
            </div> -->

            <div class="com-xs-12">
              <form novalidate>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">First Name</label>
            <input type="text" class="form-control" ng-model="userdata.firstname" id="recipient-name">
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Last Name</label>
            <input type="text" class="form-control" ng-model="userdata.lastname" id="recipient-name">
          </div>
           <button type="submit" class="btn btn-primary btn-update" ng-click="updateuser();">Save</button>
        </form>
            </div>
           
            <table class="table">
            	<thead>
            	<tr>
                <th><input type="checkbox" ng-modal="selectall" name="">Sellect all</th>
                <td>id</td>
            		<th>First Name</th>
            		<th>Last Name</th>
                <th>Action</th>
            	</tr>
            </thead>
            <tbody>
            	<tr ng-repeat=" userlistdata in users track by $index">
                <td><input type="checkbox" ng-modal="select-checkbox" name=""></td>
                <td>{{$index+1}}</td>
            		<td>{{userlistdata.firstname}}</td>
            		<td>{{userlistdata.lastname}}</td>
                <td><a data-toggle="modal" data-target="#exampleModal" ng-click= edituser($index)>Edit</a> <a ng-click="deletedata($index)">delete</a></td>
            	</tr>
            	</tbody>
            </table>
            {{users}}

        </div>
        </div>
        <script src="assets/js/anguler.js"></script>
        <script type="text/javascript" src="assets/js/main.js"></script>
      
    </body>

</html>
